<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.notiquiet</string>
			<key>key</key>
			<string>enabled</string>
			<key>PostNotification</key>
			<string>ws.hbang.notiquiet/preferenceschanged</string>
			<key>label</key>
			<string>Enabled</string>
			<key>icon</key>
			<string>Enabled.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Choose apps to hide notifications in</string>
			<key>icon</key>
			<string>Choose.png</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>ws.hbang.notiquiet/preferenceschanged</string>
			<key>ALSettingsKeyPrefix</key>
			<string>App-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/ws.hbang.notiquiet.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Email HASHBANG Productions</string>
			<key>action</key>
			<string>emailHashbangSupport</string>
			<key>icon</key>
			<string>Email.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Open HASHBANG Support FAQ</string>
			<key>action</key>
			<string>openHashbangSupportFAQ</string>
			<key>icon</key>
			<string>Support.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developers</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>HASHBANG productions - @hbangws</string>
			<key>icon</key>
			<string>hbang</string>
			<key>action</key>
			<string>openHashbangTwitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Ben Rosen - @benr9500</string>
			<key>icon</key>
			<string>ben</string>
			<key>action</key>
			<string>openBenTwitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Adam Damasi (Kirb) - @hbkirb</string>
			<key>icon</key>
			<string>kirb</string>
			<key>action</key>
			<string>openKirbTwitter</string>
		</dict>
	</array>
	<key>title</key>
	<string>Plugication</string>
</dict>
</plist>
