<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>PREFS_INTRO</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.notiquiet/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.notiquiet</string>
			<key>icon</key>
			<string>Enabled.png</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>PREFS_CHOOSE</string>
			<key>icon</key>
			<string>Choose.png</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>ws.hbang.notiquiet/ReloadPrefs</string>
			<key>ALSettingsKeyPrefix</key>
			<string>App-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/ws.hbang.notiquiet.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>0</integer>
			<key>footerText</key>
			<string>PREFS_AUTHOR</string>
			<key>label</key>
			<string>PREFS_VERSION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>followOnTwitter</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>icon</key>
			<string>Twitter.png</string>
			<key>label</key>
			<string>PREFS_TWITTER</string>
		</dict>
	</array>
	<key>title</key>
	<string>NotiQuiet</string>
</dict>
</plist>
