<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.notiquiet</string>
			<key>key</key>
			<string>enabled</string>
			<key>PostNotification</key>
			<string>ws.hbang.notiquiet/ReloadPrefs</string>
			<key>label</key>
			<string>Enabled</string>
			<key>icon</key>
			<string>Enabled.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Choose apps to hide notifications in</string>
			<key>icon</key>
			<string>Config.png</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>ws.hbang.notiquiet/ReloadPrefs</string>
			<key>ALSettingsKeyPrefix</key>
			<string>App-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/ws.hbang.notiquiet.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Email HASHBANG Productions</string>
			<key>action</key>
			<string>showSupportEmailController</string>
			<key>icon</key>
			<string>Email.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Open HASHBANG Support FAQ</string>
			<key>action</key>
			<string>openSupportFAQ</string>
			<key>icon</key>
			<string>Support.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developers</string>
		</dict>
		<dict>
		    <key>big</key>
		    <true/>
		    <key>cellClass</key>
		    <string>HBTwitterCell</string>
		    <key>height</key>
		    <integer>56</integer>
		    <key>label</key>
		    <string>HASHBANG Productions</string>
		    <key>user</key>
		    <string>hbangws</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
		    <key>cellClass</key>
		    <string>HBTwitterCell</string>
		    <key>label</key>
		    <string>Ben Rosen</string>
		    <key>user</key>
		    <string>benr9500</string>
		</dict>
		<dict>
		    <key>cellClass</key>
		    <string>HBTwitterCell</string>
		    <key>label</key>
		    <string>Adam Demasi</string>
		    <key>user</key>
		    <string>hbkirb</string>
		</dict>
	</array>
	<key>title</key>
	<string>NotiQuiet</string>
</dict>
</plist>
